@charset "UTF-8";

form{
    width: 700px;
    margin: auto;
}

input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
}

input:hover, textarea:hover{
    background-color: #dddddd;

}

legend{
    color: #888888 ;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset{
    border-color: #cceecc;
   

}
fieldset#sexo{
    width: 200px;
}